$black-color: #222222;
$pink-color: #f1e4e6;
$dark-pink-color: #f16d7f;
$white-color: #ffffff;
$grey-color: #f8f8f8;
$dark-grey-color: #5d5d5d;
$grey-light-color: #e1e1e1;
$grey-lights-color: #b1b1b1;
$blue-color: 0 0 0 0.15rem rgba(25, 82, 167, 0.5);
$grey-grey-color: #575757;
$border-color: #a4a4a4;
$placeholder-color: #b1b1b1;
$grey1-color: #f5f3f3;
$line-color: #e2e2e2;
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;
