.footer {
    max-width: 1600px;
    margin: 0 auto;

    &-container {
        min-height: 448px;
        background-image: url(../img/footer.png);
        display: flex;
    }

    &-title {
        @include font(20px, 24px, 400);
        font-style: italic;
        width: 356px;
        text-align: center;
    }

    &-img {
        padding: 11px 24px 44px 24px;
    }

    &-review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 86px;
    }

    &-container_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-connection {
        display: flex;
        margin-bottom: 150px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 150px;
    }

    &-text {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    &-text_title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 40px;
    }

    &-copyrigh {
        background-color: $black-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-copyright_text {
        margin: 30px 0;
        color: $white-color;
        @include font(16px, 19px, 400);
    }

    &-network_img {
        background-color: $white-color;
        margin: 0 10px 0 0;
        padding: 8px;
    }

    &-network {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-copyrigh_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-form {
        display: flex;
    }

    &-form input {
        height: 49px;
        width: 256px;
        margin-top: 32px;
        border-radius: 20px 0 0 20px;
        @include font(14px, 17px, 400);
        background-color: $grey-light-color;
        padding: 0 0 0 15px;
        border: none;
        box-sizing: border-box;
    }

    &-form_button {
        margin-top: 32px;
        border-radius: 0 20px 20px 0;
        background-color: $dark-pink-color;
        color: $white-color;
        @include font(14px, 17px, 400);
        border: none;
        width: 100px;
    }

    &-form_button:active,
    &-form_input:hover,
    &-form_input:focus,
    &-form_button:focus {
        box-shadow: $blue-color;
        outline: 0;
    }

    &-icon {
        background-color: $white-color;
        margin: 0 10px 0 0;
        padding: 8px;
    }

    &-icon:hover {
        fill: $white-color;
        background-color: $dark-pink-color;
    }
}
