.information {
    &-list {
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: column;
        }
    }

    &-description {
        margin: 28px 0 104px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include mobile {
            margin: 28px 0 48px 0;
        }
        @include tablet {
            margin: 28px 0 48px 0;
        }
    }
    & {
        background-color: $black-color;
        max-width: 1600px;
        margin: 0 auto;
    }

    &-img {
        margin-top: 104px;
        @include mobile {
            margin-top: 48px;
        }
        @include tablet {
            margin-top: 48px;
        }
    }

    &-description_img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-text {
        text-align: center;
        @include font(14px, 17px, 300);
        color: $white-color;
    }

    &-title {
        @include font(20px, 24px, 400);
        color: $white-color;
        margin-bottom: 16px;
    }
}
